*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Helvetica Neue, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container{
    width: 100vw;
   /*min-height: 100vh;*/
    min-height:100vh;
    background-color: #fcf5eb;
    padding: 0 30px;
}
.navbar{
    
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 120px;
    height: 30px;
}


.navItem{
    
    font-size: 16px;
    display: flex;
    gap: 35px;
}
.slide{
    position: relative;
}
.slide::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 0%;
    bottom: 0%;
    background-color: #25d366;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
   
}
.navItem > p{
    cursor: pointer;
}

.slide:hover::after{
    transform: scaleX(1);
}
.navbar > button,.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 28px;
    font-size: 18px;
    border-radius: 60px;
    background-color: #25d366;
    border: none;
    border: 1px solid black;
}
.Feature{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 120px;
    height: 20px;
    
}
.Feature::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    left: 17%;
    bottom: 0%;
    background-color: #25d366;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
}
.Feature:hover::after{
    transform: scaleX(1);
}
.Feature >img{
    
    transform: rotate(-90deg);
    width:10px;
    height:15px;
}


.firstSection{
    padding-top: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.maa{
display: flex;
justify-content: space-evenly;
align-items: center;
 background-image: url(Images/MaaBeti.png);
 background-repeat: no-repeat;
 background-size: cover;
 height: 1200;
 width: 100%;
 border-radius: 25px;
}

.firstSection > p{
    padding-top: 15px;
    /*float: right;*/
    font-size: 12px;
    text-align: end;
    opacity: .8;
    
}
.right{
    margin-top: 7%;
    position: relative;
    width: 30%;
    height: 100%;
    overflow: hidden;
}

.right img:nth-child(1) {
    width: 450px;
    animation: gm 0.5s ease-in-out;     
}
@keyframes gm {
    0%{
       transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
.right img:nth-child(2){
    position: absolute;
    top: 15px;
    width: 450px;
    animation: dil 1s ease-in-out;
}
@keyframes dil {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.right img:nth-child(3){
    width: 450px;
    animation: chai 1.5s ease-in-out;
}
@keyframes chai{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.right img:nth-child(4){
    width: 450px;
    animation: voice 2s ease-in-out;
}

@keyframes voice{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.right img:nth-child(5){
    width: 450px;
    animation: emo 2.5s ease-in-out;
}
@keyframes emo{
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    65%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.right img:nth-child(6){
    position: absolute;
    bottom: 40px; 
    width: 450px;
    margin-bottom: 13px;
    animation: emog 3s ease-in-out;
}

@keyframes emog{
    0%{
        opacity: 0;
        
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        
    }
}
.right img:nth-child(7){
    width: 450px;
    animation: trip 3.2s ease-in-out;
}

@keyframes trip{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.btn{
    width: 200px;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 90px;
    
}
.msg{
   
    color: white;
}

.msg >h1{
    margin-bottom: 20px;
    line-height: 80px;/*will give scroll in y dir*/
    overflow-y: hidden;/*to remove the scroll */
    letter-spacing:-1px ;
    font-size: 80px;
    font-weight: 300;

}


.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 50px;
    animation: test 1.5s;
}

@keyframes test {
    0%{
      opacity: 0;
      transform: translateY(75px);
    }
    50%{
        opacity: 0;

    }
    100%{
        opacity: 1;
        transform: translateY(0px);

    }
    
}

.second >img{
    width: 80%;

}
.second >p{
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 50px;
    font-weight: 500;
}


.third{
    overflow: hidden;
}

.firstbd{
   margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.leftpart >h1{
    font-size: 4em;
    line-height: 65px;
    overflow: hidden;

}
.leftpart p:nth-child(1){
    padding-top: 20px;
    line-height: 30px;
}

.angle{
    display: flex;
    gap: 10px;
    position: relative;
}
.angle > img{
    position: absolute;
    left: 70px;
    top: 30px;
    rotate: 180deg;
   height: 12px;
}
.learnMore{
    padding-top: 40px;
    font-size: 12px;
    text-decoration:2px underline #25d366;
}
.beach,.groupchat{
    position: relative;
    overflow: hidden;
    
}
.beach img:nth-child(2){
    width: 350px;
    top: 160px;
    right: -3%;  
    position: absolute;   
}

.groupchat img:nth-child(2){
    width: 340px;
    top: 22%;
    right: -2%;
    position: absolute;
}
.bgchange{
    padding: 30px;
    background-color:#111b21;
}

.footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: #111b21;
    margin-top: 65px;
}
.upper{
    display: flex;
    width: 60%;
    height:35% ;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 60px;
}
.up1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

 
.up2,.up3,.up4,.up5{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.up2>p,.up3>p,.up4>p,.up5>p{
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    font-weight: 100;
    opacity: 0.8;
}
ul >li{
    margin-bottom: 25px;
    display: flex;
    /*flex-direction: column;
    justify-content: space-between;*/
}
ul{
    overflow: hidden;
}
li{
    font-size: 17px;
}
li:hover{
    text-decoration: underline white;
}

hr{
    width: 70%;
    color: white;
}
.lower{
    margin-top: 50px;
    display: flex;
    width: 70%;
    justify-content:space-between;
    align-items: center;
}

.lower >p{
    font-size: 13px;
}

.social >img{
    border: solid white;
    padding: 15px;
    border-radius: 50%;
   
}
